* {
    margin: 0;
    padding: 0;
}

nav {
    height: 60px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        margin-left: 30px;
        font-size: 30px;
        h2 {
            color: white;
        }
        h2:hover {
            color: black;
            background-color: white;
            transition: 0.2s all ease-in;
        }
    }

    .nav-menu {
        // display: inline;
        margin-right: 100px;
        ul{
            display: flex;
            
            li {
                margin: auto 15px;
                list-style-type: none;
                
                a {
                    font-size: 1.3rem;
                    color: white;
                    text-decoration: none;
                }

                a:hover {
                    color: black;
                    background-color: white;
                    transition: 0.2s all ease-in;
                }
            }
        }
    }
}